
.NavPanel-Group
{
	margin-top: 10px;
	margin-left:10px;
}

.NavPanel
{
	padding: 5px;
}

.NavPanel-Heading
{
	
}

.NavPanel-Body
{
	font-size: small;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	padding: 0px;
	border-radius: 0px 0px 0px 0px;
}

.NavPanel-Collapse
{
	
}

.NavList
{
	
}

.NavListItem
{
	padding:5px 0px 5px 5px;
	color:black;
	
}

.navselected
{
	background: #3C3C3C;
}

.NavListItem .a
{
	
}

.NavListItem a,.NavListItem a:link,.NavListItem a:visited {
	color:black;
	text-decoration: none;
}

.navselected a,.navselected a:link,.navselected a:visited {
	color:white;
	text-decoration: none;
}

.NavListItem a:hover {
	text-decoration: none;
	color: #EA0000;
}