
.CoursePanel-Group
{
	
}

.CoursePanel
{
	
}

.CoursePanel-Heading
{
	
}

.CoursePanel-Body
{
	font-size: small;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
}

.CoursePanel-Success
{
	
}

.CoursePanel-Collapse
{
	
}